<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>랜덤 채팅 환영합니다.</title>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/static/js/main.js}"></script>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="loginContent">
   <!-- Tabs Titles -->
    <h2 class="active" id="signIn"> Sign In </h2>
    <h2 class="inactive underlineHover" id="signUp">Sign Up </h2>
    <div class="fadeIn first">
      <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
      랜덤 채팅에 오신 것을 환영합니다.
    </div>
    <form id="loginForm">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="아이디">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="패스워드">
      <input type="button" class="fadeIn fourth submitButton" id="login" value="로그인">
    </form>
  </div>
</div>
</body>
</html>